#----------------------------------
# required Halvade arguments
#----------------------------------
I="/user/name/halvade/in/"
O="/user/name/halvade/out/"
N=5
M=64
C=16
B="/user/name/halvade/bin.tar.gz"
D="/user/name/halvade/ref/dbsnp/dbsnp_138.hg19.vcf"
R="/user/name/halvade/ref/ucsc.hg19"


#S="/user/halvade/ref/stargsmall/"

#----------------------------------
# only used when using *** Amazon EMR - comment if not used***
#----------------------------------
#emr_jar="s3://bucketname/path/to/HalvadeWithLibs.jar"
#emr_script="s3://bucketname/path/to/halvade_bootstrap.sh"
#emr_type="c3.8xlarge"
#emr_ami_v="3.1.0"
#emr_s3logging = "s3://bucketname/name/halvade/logs/"
#tmp="/mnt/halvade/"
# WARNING: tmp should be set to this for S3 because this is where the SSD is mounted


#----------------------------------
# Halvade arguments *** comment if not used ***
#----------------------------------
#bwamem
#haplotypecaller
#justalign
#keep
#P
#single
#dryrun
#smt
#rna
#c
#bam
#redistribute
#redmem=16
#mapmem=16
#refdir="/user/ddecap/halvade/ref/"
#fbed="/user/ddecap/halvade/exome_hg19.bed"
#bed="/user/ddecap/halvade/genes.bed"
#id="SampleId"
#J="/dir/to/java"
#lb="GroupLibrary"
#pl="GroupPlatform"
#pu=PlatformUnit"
#scc=30
#sec=30
#sm="SampleName"



